@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --opacity: 1;

    --white: #ffffff;
    --black: #000000;

    --beige: #f4f4f4;
    --beige-text: #fbf8f3;
    --grey: #6b6356;
    --brown: #434343;
    --brown-footer: #2d2d2d;
    --light-brown: #cdbcab;
    --muted: #cccccc;
    --brown-menu: #7d614b;

    --radius: 1.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-beige text-beige;
  }
}
